<a href="https://colab.research.google.com/github/Anamika-sasankan/assignment-on-pandas/blob/main/PREPROCESSING_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('/content/titanic_dataset.csv')

In [3]:
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [4]:
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
df.set_index('PassengerId', inplace=True)
print(df.columns)

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
#Check the basic details of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [7]:
# Check for missing values in each column
print(df.isnull().sum())

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [13]:
#Fill in all the missing values present in all the columns in the dataset
df.fillna(method='bfill',inplace=True)
print(df.isnull().sum())

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    0
dtype: int64

<ipython-input-13-f55ac28460e7>:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill',inplace=True)

In [27]:
print(df.describe())

         Survived      Pclass        Age       SibSp       Parch        Fare
count  891.000000  891.000000  891.00000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.58156    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.55459    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.42000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.00000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.00000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.00000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.00000    8.000000    6.000000  512.329200

In [26]:
#Check and handle outliers in at least 3 columns in the dataset
def handle_outliers(df, column):
  Q1=df(column).quantile(0.25)
  Q3=df(column).quantile(0.75)
  IQR=Q3-Q1
  lower_bound=Q1-1.5*IQR
  upper_bound=Q3+1.5*IQR
  df=df[(df[column]>=lower_bound)&(df[column]<=upper_bound)]
  return df
  df=handle_outliers(df,'Age')
  df=handle_outliers(df,'Fare')
  df=handle_outliers(df,'SibSp')
print(df[['Age', 'Fare', 'SibSp']])

              Age     Fare  SibSp
PassengerId
1            22.0   7.2500      1
2            38.0  71.2833      1
3            26.0   7.9250      0
4            35.0  53.1000      1
5            35.0   8.0500      0
...           ...      ...    ...
887          27.0  13.0000      0
888          19.0  30.0000      0
889          19.0  23.4500      1
890          26.0  30.0000      0
891          32.0   7.7500      0

[891 rows x 3 columns]

In [31]:
from sklearn.preprocessing import MinMaxScaler

In [32]:
df=pd.read_csv('/content/titanic_dataset.csv')
# Selecting the features (columns) and the target (Survived)
X = df.drop(columns=['Survived','Name', 'Ticket', 'Cabin', 'Embarked'])
y = df['Survived']

# Convert columns to numeric
X = X.apply(pd.to_numeric, errors='coerce')

# Handle missing values
X.fillna(X.median(), inplace=True)

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Perform Min-Max scaling on the feature set (X)
X_scaled = scaler.fit_transform(X)

# Convert the scaled features back to a DataFrame
X_scaled_df = pd.DataFrame(X_scaled, columns=X.columns)

# Combine the scaled features with the target variable
df_scaled = pd.concat([X_scaled_df, y], axis=1)

# Display the first few rows of the scaled dataframe
print(df_scaled.head())

   PassengerId  Pclass  Sex       Age  SibSp  Parch      Fare  Survived
0     0.000000     1.0  NaN  0.271174  0.125    0.0  0.014151         0
1     0.001124     0.0  NaN  0.472229  0.125    0.0  0.139136         1
2     0.002247     1.0  NaN  0.321438  0.000    0.0  0.015469         1
3     0.003371     0.0  NaN  0.434531  0.125    0.0  0.103644         1
4     0.004494     1.0  NaN  0.434531  0.000    0.0  0.015713         0

/usr/local/lib/python3.11/dist-packages/sklearn/utils/_array_api.py:769: RuntimeWarning: All-NaN slice encountered
  return xp.asarray(numpy.nanmin(X, axis=axis))
/usr/local/lib/python3.11/dist-packages/sklearn/utils/_array_api.py:786: RuntimeWarning: All-NaN slice encountered
  return xp.asarray(numpy.nanmax(X, axis=axis))